
<div class="bar bar-header item-input-inset">
    <label class="item-input-wrapper">
          <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Search" ng-model="vm.query" ng-change="vm.getCities(query)">
    </label>
    <button ng-click="vm.cancel()" class="button">
      Cancel
    </button> 
  </div>
  
  <ion-content class="has-header" >

    <ion-list>
      <ion-item ng-click="vm.showMeteo(city)" ng-repeat="city in vm.cities | filter:query"> 
        {{city.name}}
      </ion-item>
    </ion-list>

  </ion-content>
